[submodule "backend"]
	path = backend
	url = https://github.com/fabiorosadev/masterclass-typescript/backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/fabiorosadev/masterclass-typescript/frontend
